.radio-button-type {
  .field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
    border-radius: 0.625rem;
    background: #fff;
    min-width: 7.5rem;
    height: var(--input-height);
    padding: 0.75rem;
    border: 1px solid #e6e6e6;

    p-checkbox {
      margin-top: -0.3125rem;
    }
  }

  .field-checkbox:has(p-checkbox > .p-checkbox.p-checkbox-checked) {
    border: 1px solid var(--color-primary-1);
  }
}

.p-checkbox {
  vertical-align: middle !important;
}
